:root {
    --place-start: "center flex-start";
    --place-end: "center flex-end";
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex: 1;
    /* border: 1px solid red; */
    padding: 8px;
}

.todo-item-children {
    display: flex;
    gap: 10px;
}

.todo-item-children > span {
    cursor: pointer;
}

.left {
    place-items: var(--place-start);
}

.left > span {
    font-size: medium;
}

.right {
    place-items: var(--place-end);
}

#add-icon > path, #add-icon > circle {
    stroke: white;
    display: flex;
    align-items: flex-end;
}