:root {
    --flex-column: display:flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: #000000;
    position: fixed;
    left: 0;
    top: 65px;
    right: auto;
    height: 100vh;
    width: calc(100% - 90px);
}

.groups {
    width: 340px;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    gap: 54px;
}

.addGroup {
    align-self: center;
    background: #6DAC3C;
    border: 1px solid #54AF4C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: #FFFFFF;
    width: 137px;
    height: 27px;
    cursor: pointer;
}

.addGroup:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.groupListItems>section {
    margin: 12px 0px;
    background: #C4C4CD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.groupListItems>section:active {
    content: '';
    background: #C4C4CD;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contents {
    margin: 80px;
    width: calc(100% - 340px);
}

.contentHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contentItemGrid {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
    grid-auto-flow: row;
    grid-gap: 20px;
    font-size: 14px;
}

.contentItemGrid>section {
    background: #B4E78C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: 20px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.contentItemGrid>section>span.topLeft {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 12px;
}

.contentItemGrid>section>.deleteBtn {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    fill: #000;
    bottom: 15px;
    right: 25px;
}

.contentItemGrid>section>.clockIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    fill: #000;
    bottom: 15px;
    left: 25px;
}

.mainContents {
    background-color: #a1f5a0;
    padding: 10px 5px;
    width: 100%;
    min-height: 50vh;
    height: 100%;
    overflow-y: auto;
}

.mainContents > div > input[type="text"] {
    background: #91e78f;
    border: none;
    height: 40px;
    width: -webkit-fill-available;
    font-size: 16px;
    box-shadow: none;
}

.mainContents > div > input[type="text"]:active {
    border: none;
    content: '';
    box-shadow: none;
}

.mainContents > div > input[type="text"]:focus {
   outline: none;
}

.contentInput {
    width: 50%;
    text-overflow: ellipsis;
    background: inherit;
    border: none;
    height: 40px;
    width: -webkit-fill-available;
    font-size: 16px;
    box-shadow: none;
    resize: both;
}

.contentInput:focus {
    outline: none;;
}

.mainContents > div > button {
    background: none;
    width: 120px;
    height: 30px;
    border-radius: 50px;
    outline: none;
}

.contentContainer {
    display: flex;
    justify-content: start;
    margin: 10px;
    gap: 10px;
    width: 80%;
}

.todoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
}

.editBtn {
    width: 20px;
    height: 20px;
}

.contentDelBtn {
   width: 20px;
   height: 20px;
}